pre {
    background: #DDDDDD;
    width: 500px;
    height: 200px;
    padding: 0px;
  }
  
  pre > code {
    outline: none;
    display: block;
  }
  
  .pauseplay {
    display:grid;
  }
  .pause, .play {
    grid-row: 1;
    grid-column: 1;
    
  }
  .pause {
   order: 0;
  }
  .play {
   order: 1;
  }
  